<div class="jumbotron">
    <div style="display: inline-block;">
        <img style="height:100px;margin: 15px;" src="images/images-neo4j.jpg"/>
        <div style="float:right">
            <h2>Accessing Neo4j Data Rest</h2>
            <p class="lead"><em>Company Management Hierarchy</em></p>
        </div>
        </div>
    <p>In any particular company, a management hierarchy is very essential because with the help of a well drafted hierarchy of workforce, it is being possible to effectively evaluate the company strategies, plan the actions to be taken in order to reach the business goals and to divide the organizational functions among the workforce effectively</p>
</div>
